:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column; /* Allow for vertical stacking of elements */
}

.form-container {
  width: 90%; /* Set fixed width */
  max-width: 1200px; /* Optional: Set a max width for large screens */
  margin: 0 auto; /* Center align the div horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content inside the container */
  text-align: center; /* Center text within the container */
}

.banner-image {
  width: 100%; /* Ensure the image takes up the full width of the parent */
  height: auto; /* Maintain aspect ratio */
}

h1 {
  font-size: 1.4em;
  line-height: 1.1;
}

.center-heading {
  text-align: center;
}

.form-container {
  width: 90%; /* Set fixed width */
  max-width: 1200px; /* Optional: Set a max width for large screens */
  margin: 0 auto; /* Center align the div horizontally */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children to the left */
  text-align: left; /* Align text to the left */
}

h2 {
  width: 100%; /* Make the h2 take the full width of the container */
  margin: 10px 0; /* Add some margin for spacing */
  font-size: 1.2em;
}

.date-selects,
.guest-selects {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Distribute items evenly */
  width: 102%; /* Make these sections take the full width */
}

.custom-select {
  flex: 1; /* Allow the selects to grow and fill the space evenly */
  width: 100%; /* Ensure the custom-select takes full width */
}

/* Remove margin from the last item in the row */
.date-selects .custom-select:last-child,
.guest-selects .custom-select:last-child {
  margin-right: 0; /* No margin for the last item */
}

/* Additional styles for the select boxes */
.date-select,
.guest-select {
  width: 100%; /* Ensure select boxes take the full width */
}

.custom-select {
  position: relative; /* Ensure the dropdown options are positioned relative to the parent */
}

.options {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px; /* Adjust as needed for your design */
  overflow-y: auto; /* Enable vertical scrolling */
  width: calc(100% - 2px); /* Ensure it aligns with the border width */
  z-index: 1000; /* Keep dropdown above other elements */
}

option:hover {
  cursor: pointer;
  background-color: white;
}

/* Adjust button container for centering */
.button-container {
  display: flex;
  justify-content: center; /* Center the button */
  width: 100%; /* Full width */
  margin-top: 20px; /* Space above the button */
  margin-bottom: 20px;
}

select {
  padding: 10px 10px;
  background-color: #d9d9d9;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1; /* Allow the selects to grow and fill the space evenly */
  width: 100%; /* Ensure the custom-select takes full width */
  margin-right: 10px; /* Space between select boxes */
}

.custom-select,
.date-select,
.guest-select {
  width: 100%;
}

.chevron-icon {
  margin-left: auto;
}

.disabled {
  background-color: #f1f1f1;
  color: #999;
  cursor: not-allowed;
}

.custom-select.open .options {
  display: block;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 30px; /* Optional: Add some space above the button */
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f24822;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.divider {
  width: 100%; /* Full width */
  height: 4em; /* Fixed height */
  background-color: #f2e3cc;
  margin: 30px 0px;
}

.dividerIcons {
  width: 100%; /* Full width */
  height: 11em; /* Fixed height */
  display: flex;
  justify-content: center; /* Center child elements horizontally */
  align-items: center; /* Center child elements vertically */
  background-color: #f2e3cc;
}

.dividerSearch {
  width: 100%; /* Full width */
  height: 5em; /* Fixed height */
  display: flex;
  justify-content: center; /* Center child elements horizontally */
  align-items: center; /* Center child elements vertically */
}

.iconsList {
  width: 100%; /* Flexing width */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center child elements vertically */
  align-items: center; /* Center child elements horizontally */
  text-align: center; /* Center text */
}

.iconsText {
  font-weight: bold;
  font-size: large;
  padding-bottom: 30px;
}

.iconsRow {
  display: flex; 
  justify-content: space-around;
  width: 100%;
  margin: auto;
  font-size: 2em;
}

.wordsRow {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Distribute evenly */
  width: 100%; /* Full width */
  margin: 10px 0; /* Space between rows */
  font-size: small;
}

.iconsRow .fa-icon, .wordsRow span {
  flex: 1; /* Allow each icon and word to grow */
  text-align: center; /* Center text */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  margin-top: 4em;
  font-weight: bold;
}

.footer img {
  margin-bottom: 0.5em; /* Spacing between logos and text */
}

.footer div {
  margin: 0.2em 0; /* Spacing between text elements */
}

.social-icon {
  font-size: 3em;
}

.logoName {
  font-size: 1.5em;
  padding-bottom: 1rem;
}

.largerText {
  font-size: 1.3em;
}

.paddingText {
  padding-top: 15px;
}

.smallerText {
  font-size: 0.7em;
}

.hotel-list {
  display: flex;               /* Use flexbox for layout */
  flex-wrap: wrap;            /* Allow wrapping of hotel cards */
  justify-content: center;     /* Center the cards horizontally */
  gap: 20px;                  /* Add space between cards, adjust as needed */            /* Center the list container */
  width: 100%;
  text-align: left;
}

.hotel-card {
  width: 100%;
}

.Right {
  text-align: right;
}

.box {
  margin-top: 0%;
  display: flex;
}
.push {
  margin-left: auto;
}

.linkStyle {
  color: #BE8730;
  text-decoration-line: underline;
}

.textMargin {
  margin-top: 10px;
}

/* Button.css (or your existing stylesheet) */
.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
}

.reviewList {
  display: flex;                      /* Enables flexbox on the container */
  justify-content: space-around;      /* Distributes boxes evenly with space around */
  align-items: center;                /* Center the boxes vertically */
  width: 100%;
  background-color: #f2e3cc;
  height: 8em;                        /* Fixed height for alignment */
  padding: 0;                         /* No padding to prevent extra space */
  margin-top: 0;  
}

.reviewRow {
  flex: 1;                           /* Allow the boxes to grow equally */                   /* Padding for visual clarity, adjust as necessary */
  margin: 0;                        /* Remove margin to prevent extra space */
  background-color: #f4f4f4;        /* Background color */
  text-align: center;                    /* Horizontal margin for spacing between boxes */
}

.reviewRow2 .reviewItem:nth-child(2) {
  margin-bottom: 15px; /* Adjust spacing as needed */
}

/* Adjustments for boxRow2 */
.reviewRow2 {
  display: flex;                      /* Enables flexbox on the second box */
  flex-direction: column;             /* Stack items in a column */
  justify-content: center;            /* Center items vertically within the column */
  align-items: center;                /* Center items horizontally */                     /* Ensure the second box has a fixed width */
}

.custom-button.read-more-btn {
  background-color: #28a745; /* Green for Read more */
}

.custom-button.book-now-btn {
  background-color: #ff5722; /* Orange for Book now */
}

/* Flexbox for the buttons */
.hotel-card-buttons {
  display: flex;
  justify-content: space-between; /* Even spacing */
  gap: 10px; /* Space between the buttons */
  width: 100%; /* Ensure full width */
}

.custom-button {
  flex: 1; /* Make buttons equally take up space */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}




/*Styling för Header.jsx START*/
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.mobile-container {
  width: 100%;
}

#myLinks {
  display: none;
}

#myLinks.open {
  display: block;
  position: relative; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100vh; 
  background-color: white;
  z-index: 999;
  padding: 2rem;
  box-sizing: border-box; 
  padding-bottom: 10000rem;
}

#myLinks.open + .wrapLogoTogether {
  display: none;
}

.menuOptions {
  color: black !important;
  font-size: 1.6rem; 
  padding-bottom: 1rem; 
}

.topnav button {
  color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}

.menuItems {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left; 
}

.orchidTravelsMenu {
  color: #D4A355 !important;
  font-size: 1.6rem; 
  padding-bottom: 1rem; 
}

.topnav button.icon {
  font-size: 1.5rem;
  color: black;
  padding-left: 0.5rem; 
  background-color: white;
}

.wrapLogoTogether {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%;
}

.centerContent {
  flex-grow: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-align: center;
}

.closeIcon {
  display: block;
  text-align: right; 
  font-size: 2rem;
  color: black !important;
  cursor: pointer;
  margin-left: 0; 
  position: absolute; 
  right: 5rem; 
  top: 1rem;
  background-color: white;
}

.topnav button.icon,
.closeIcon {
  outline: none; 
  border: none; 
}

.topnav button.icon:focus,
.closeIcon:focus {
  outline: none;
  border: none;  
}
/*Styling för Header.jsx END*/







/* Slider START */

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.sliderImages {
  vertical-align: middle;
  width: 100%; 
  height: 45vh; 
  object-fit: cover; 
}

.slideshow-container {
  width: 100%; 
  height: 45vh; 
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  width: auto;
  padding: 16px;
  color: white;
  font-size: 3rem; 
  transition: 0.6s ease;
  user-select: none;
}

.prev {
  left: 1rem; 
}

.next {
  right: 1rem; 
}

.prev:hover, .next:hover {
  color: white; 
  outline: none;
}


.prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dot-container {
  text-align: center;
  padding: 0; 
  margin-top: -1rem; 
  padding-bottom: 2rem; 
}

.slideshow-container + .dot-container {
  margin-top: 0.5rem; 
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Slider END */



/* Yellow flower START */
.yellow-flower-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  background-color: transparent; 
}

.centered-logo {
  width: 2rem; 
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* Yellow flower END */




/* Gallery START */

.gallery-container {
  width: 100%; 
  max-width: 75rem; 
  margin: 0 auto; 
  padding: 1.25rem; 
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0.6rem; 
  width: 100%; 
}

.gallery-item {
  overflow: hidden; 
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; 
}

.gallery-item:hover img {
  transform: scale(1.1); 
}

/* Gallery END */





/* ScrollToTopButton START */
.scroll-to-top-container {
  position: fixed; 
  bottom: 2rem; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.scroll-to-top-button {
  background-color: black;
  color: #BE8730;
  font-weight: bolder;
  border: none;
  padding: 0.5rem 1.5rem; 
  border-radius: 15px; 
  font-size: 0.8rem; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; 
}

.scroll-to-top-button:hover {
  background-color: #BE8730;
}

.scroll-to-top-button:focus {
  outline: none; 
}
/* ScrollToTopButton END */


/* Socials START */
.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto; 
  text-align: center;
}

.socials-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.instagram-icon {
  color: black;
  font-size: 3rem; 
}
/* Socials END */




/* TravelDetailsData Styling */
.travel-details-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin: 0 auto;
  border: 0.125rem solid red;
}

.top-options, .bottom-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.option {
  display: flex;
  flex-direction: column;
  width: 48%; 
}

.option-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem;
  text-align: left;
  min-width: 9rem; 
}

.details-value {
  font-size: 1rem;
  color: #333;
  padding: 0.5rem 0;
  border-radius: 0.25rem; 
  text-align: center;
  display: block;
  direction: ltr;
  background-color: #f5f5f5; 
}
/* TravelDetailsData Styling */


/* BookingOptionsForm START */
.booking-options-form {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  border: 0.125rem solid red;
}

.booking-title {
  font-size: 1.3rem; 
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.accommodation-1-room, .accommodation-2-rooms {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: bolder;
}

.accommodation-2-rooms {
  margin-top: 3rem; 
}

.room-option, .flight-option {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.round-checkbox {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  margin-right: 0.8rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.round-checkbox:checked {
  background-color: white;
  border: 2px solid black;
}

.round-checkbox:checked::after {
  content: '';
  width: 0.6rem;
  height: 0.6rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; 
  padding: 0; 
}

.room-label, .flight-label {
  font-size: 1rem;
  margin-right: 1rem;
}

.room-price {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.room-description, .flight-description {
  font-size: 1rem;
  color: black;
  margin-top: 0.5rem;
  line-height: 1.5;
  margin-left: 2rem;
  text-align: left;
}

.flight-class-section {
  margin-top: 3rem; 
}


#premiumFlight + .flight-label,
#plusFlight + .flight-label,
#economyFlight + .flight-label {
  color: #BE8730;
}

.flight-class-title {
  padding-top: 1.5rem; 
}

/* BookingOptionsForm END */




/* ChosenBookingOptions START */

.chosen-booking-options {
  width: 100%; 
  margin: 1.25rem auto; 
  border: 0.125rem solid purple;
  text-align: left; 
}

.chosen-booking-title, 
.chosen-room-details, 
.chosen-flight-class-details {
  font-size: 1.2rem;
  margin-bottom: 0.625rem; 
  margin-left: 0; 
}

.chosen-room-details, 
.chosen-flight-class-details {
  color: black;
  margin-bottom: 1.25rem;
}

.chosen-room-details span, 
.chosen-flight-class-details span {
  color: black;
}

.chosen-booking-options p {
  margin: 0;
}

.bold-price {
  font-weight: bold;
}

/* ChosenBookingOptions START */


/* TotalPrice START */

.total-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 100%; 
  border: 0.125rem solid red;
}

.total-price-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  text-align: center; 
}

.price-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem; 
}

.price-amount {
  font-weight: bold;
  margin-right: 0.2rem; 
}

.currency {
  font-size: 1.2rem; 
  color: black;
  font-weight: bolder;
}

.pricing-details {
  font-size: 1.1rem;
  margin-left: 1rem; 
  color: #BE8730; 
  font-style: italic; 
}

.pricing-details-icon {
  margin-left: 0.5rem; 
  color: #BE8730; 
  font-size: 1.1rem; 
  vertical-align: middle; 
}

/* TotalPrice END */




/* PaymentOptionsForm START */
.payment-options-form {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.payment-title {
  font-size: 1.3rem; 
  font-weight: bold;
  margin-bottom: 0.5rem;
}


#creditCard + .payment-label,
#paypal + .payment-label,
#bankTransfer + .payment-label {
  color: #BE8730; 
}

.payment-method {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: bolder;
}

.payment-option {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.round-checkbox {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  margin-right: 0.8rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.round-checkbox:checked {
  background-color: white;
  border: 2px solid black;
}

.round-checkbox:checked::after {
  content: '';
  width: 0.6rem;
  height: 0.6rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.payment-label {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.payment-description {
  font-size: 1.1rem;
  color: black;
  margin-top: 0.5rem;
  line-height: 1.5;
  margin-left: 2rem;
  text-align: left;
}

.payment-class-section {
  margin-top: 3rem;
}

/* PaymentOptionsForm END */














.bold {
  font-weight: bold;
}

.linkRestaurant {
  background-color: white;
  color: #BE8730;
  text-decoration: underline;
}

.event-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-card {
  width: 100%;
  position: relative;
  background-color: white;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay-date {
  position: absolute;
  top: 0; /* Adjust as needed */
  left: 0; /* Now positioned to the left */
  background-color: rgba(190, 135, 48, 0.9); 
  color: white;
  padding: 10px 15px;
  font-size: 2rem;
  line-height: 1;
}

.overlay-name {
  position: absolute;
  bottom: 20px; /* Stick to the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: rgba(190, 135, 48, 0.9);
  color: white;
  padding: 10px 0px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-overlay {
  position: absolute;
  bottom: 55px;
  left: 170px;
  padding: 10px;
  color: black; /* Change color as needed */
  font-size: 1.7rem; /* Adjust size as needed */
}

.image-container {
  position: relative;
}

.kids-friendly-overlay {
  position: absolute;
  bottom: 7px;
  left: 0;
  padding: 10px;
  color: white;
  background-color: rgba(190, 135, 48, 1);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.info-container {
  padding: 0px 20px; /* Adjust padding as needed */
}

.destinations-list {
 width: 90%;
 text-align: start;
 margin-left: 20px;
}

.destinations-list li {
  font-size: 16px;
  line-height: 1.5;
}


